@{
    ViewBag.Title = "Principal";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xfauna - Catálogo de Animais Xenarthra</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <style>
        .header-container {
            background-image: url('/Content/Images/preguica.png');
            background-size: cover;
            background-position: center;
        }

        .section {
            padding: 50px 0;
            background-color: #f9f9f9;
        }

        .section-heading {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
            color: #333;
        }

        .section-content {
            display: flex;
            align-items: center;
        }

            .section-content p {
                color: #555;
            }

            .section-content img {
                width: 100%;
                max-width: 200px;
                border-radius: 5px;
            }

        #xenarthra {
            background-color: #f5f5f5;
        }

        #equipe {
            background-color: #fafafa;
        }

        #sobre {
            background-color: #f0f0f0;
        }
    </style>
</head>

<body>
    <br />
    <br />
    <br />
    <br />
    <header class="bg-primary text-white text-center py-5" style="background-image: url('/Content/Images/PlanoFundoFloresa.jpg'); background-size: cover; background-position: center; ">
        <div class="container">
            <h1 class="display-4">Xfauna - Catálogo de Animais Xenarthra</h1>
            <p class="lead">Descubra a fascinante ordem de mamíferos Xenarthra</p>
        </div>
    </header>

    <section id="mapa" class="section py-5">
        <div class="container">
            <div class="section-heading text-center">Mapa</div>
            <div id="mapDiv" style="height: 400px;"></div>
        </div>
    </section>

    <section id="xenarthra" class="section py-5">
        <div class="container">
            <div class="section-heading text-center">Xenarthra</div>
            <div class="section-content row">
                <div class="col-md-4">
                    <img src="~/Content/Images/preguica.png" alt="Imagem 1" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <p>
                        Bem-vindo ao nosso site de catálogo de animais Xenarthra!
                    </p>
                    <p>
                        Xenarthra é uma ordem de mamíferos que inclui animais fascinantes como tatus, preguiças e tamanduás.
                        Eles são encontrados principalmente na América do Sul e Central e são conhecidos por suas características
                        únicas, como garras afiadas, pelos grossos e hábitos alimentares especializados.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="equipe" class="section py-5">
        <div class="container">
            <div class="section-heading text-center">Nossa Equipe</div>
            <div class="section-content row">
                <div class="col-md-8">
                    <p>Conheça nossa equipe de especialistas que trabalham para oferecer o melhor conteúdo para você.</p>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/terra.png" alt="Imagem 2" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section id="sobre" class="section py-5">
        <div class="container">
            <div class="section-heading text-center">Sobre Nós</div>
            <div class="section-content row">
                <div class="col-md-4">
                    <img src="~/Content/Images/pasta.png" alt="Imagem 6" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <p>
                        Nós somos a Xfauna, seja bem-vindo ao nosso site. Por aqui, você consegue encontrar catálogos de animais
                        Xenarthra e os lugares do mundo nos quais eles podem ser encontrados. Nosso objetivo é ajudar cada vez mais
                        o avanço da biologia através da internet!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-dark text-white text-center py-4">
        <div class="container">
            &copy; 2023 Xfauna. Todos os direitos reservados.
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <script>
        var lat = -23.55;
        var lon = -46.63;

        var map = L.map('mapDiv').setView([lat, lon], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 18,
        }).addTo(map);

        var marker = L.marker([lat, lon]).addTo(map);
        marker.bindPopup("<b>Centro</b><br />Pça da Sé<br />São Paulo").openPopup();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>


</html>