@{
    ViewBag.Title = "Principal";
}
<html>
<head>
    
</head>

<body>

    <br>
    <div id="mapDiv" style="width: 100%; height: 100vh; margin: 5;"></div>
    <script>

        // latitude e longitude
        var lat = -23.55;
        var lon = -46.63;
        // inicializa o mapa
        map = L.map('mapDiv').setView([lat, lon], 13);

        // define os recursos para exibição
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.macoratti.net/">Macoratti.net</a>',
            maxZoom: 18,
        }).addTo(map);

        // adiciona um marcador no mapa
        marker = L.marker([lat, lon]).addTo(map);

        // adiciona um popup no marcador
        marker.bindPopup("<b>Centro</b><br />Pça da Sé<br />São Paulo").openPopup();

    </script>
    <br />

    <!-- Informações XERNARTHRA -->
    <div class="jumbotron" style="background-color: black; opacity: 1.0; color: #ffffff;">
        <div class="row">
            <div class="col-md-8">
                <h1>Xenarthra</h1>
                <p>
                    Bem-vindo ao nosso site de catálogo de animais Xenarthra!
                </p>
                <p>
                    Xenarthra é uma ordem de mamíferos que inclui animais fascinantes como tatus, preguiças e tamanduás.
                    Eles são encontrados principalmente na América do Sul e Central, e são conhecidos por suas características únicas,
                    como garras afiadas, pelos grossos e hábitos alimentares especializados.
                </p>
                <p>
                    Em nosso site, você encontrará um catálogo completo de animais Xenarthra, com informações detalhadas sobre cada espécie,
                    incluindo sua aparência, comportamento, habitat e muito mais. Nós trabalhamos incansavelmente para fornecer informações precisas e
                    atualizadas sobre essas criaturas incríveis, para que você possa aprender mais sobre elas e apreciá-las ainda mais.
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/preguica.png" alt="Equipe do Site" class="img-responsive">
            </div>
        </div>
    </div>

    <!-- Informações EQUIPE -->
    <div class="jumbotron" style=" opacity: 1.0;">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/Content/Images/terra.png" alt="Equipe do Site" class="img-responsive">
                </div>
                <div class="col-md-8">
                    <h1>Nossa Equipe</h1>
                    <p>Conheça nossa equipe de especialistas que trabalham para oferecer o melhor conteúdo para você.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Informações XFAUNA -->
    <div class="jumbotron" style="background-color: black; opacity: 1.0; color: #ffffff;">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Sobre Nós</h1>
                    <p>
                        Nós somos a Xfauna, seja bem-vindo ao nosso site. Por aqui, é você consegue achar catálogos de animais Xenarthra e
                        os lugares do mundo nos quais é possível de ser encontrado. Nosso objetivo é ajudar cada vez mais o avanço da biologia
                        atrás da internet!
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/pasta.png" alt="Equipe do Site" class="img-responsive">
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>


</body>
</html>